<div>
    <h2>Books</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="book.new" has-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Book
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="url_s"><span data-translate="kundelApp.book.url_s"></span></span></th>
                    <th jh-sort-by="title"><span>Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author"><span>Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="year"><span>Year of publication</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="publisher"><span>Publisher</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isbn"><span>Isbn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                    <input type="text" class="form-control" ng-model="vm.search.title">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                    <input type="text" class="form-control" ng-model="vm.search.author">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                    <input type="text" class="form-control" ng-model="vm.search.year">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                    <input type="text" class="form-control" ng-model="vm.search.publisher">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                                    <input type="text" class="form-control" ng-model="vm.search.isbn">
                                </div>
                            </div>
                        </form>
                    </td>
                    <td></td>
                </tr>
                <tr ng-repeat="book in vm.books track by book.id | filter: vm.search">
                    <td><a ui-sref="book-detail({id:book.id})"><img src="{{book.url_s}}" /></a></td>
                    <td><a ui-sref="book-detail({id:book.id})">{{book.title}}</a></td>
                    <td>{{book.author}}</td>
                    <td>{{book.year}}</td>
                    <td>{{book.publisher}}</td>
                    <td>{{book.isbn}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="book-detail({id:book.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="transaction.new({idBook:book.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.edit({id:book.id})"
                                    class="btn btn-primary btn-sm"
                                    has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="book.delete({id:book.id})"
                                    class="btn btn-danger btn-sm"
                                    has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
